@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}
@import './variables/variable';
@import './secciones/index';
@import './secciones/ropa';
@import './secciones/perfumes';
@import './secciones/colecciones';
@import './secciones/sobre-nosotros';
@import './secciones/responsive';