.body {
    background-color: white;
    background-image: url(../img/fondo-2.png);

    .header {
        background-color: #1F82BE;
        width: 100%;
        border: black 1px solid;
        background-image: linear-gradient(45deg, #1F82BE, #012340);

        .lista {
            gap: 5px;

            li {
                background-color: #012340;
                border: black 1px solid;
                display: inline-block;
                text-align: center;
                color: white;
                border-radius: 1rem;
                height: 45px;

                &:hover {
                    background-color: #089BF4;
                    transition: .3s;
                }

                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }

    }

    .titulo {
        background-color: black;
        width: 100%;
        color: white;
        text-align: center;
    }

    .span {
        background-color: black;
        color: white;
        border: black 1px solid;
        padding: 5px;
        text-align: center;
        width: 100%;
    }

    .container {
        max-width: 850px;
        margin: 0 auto;

        img {
            width: 250px;
        }
    }


    .footer {
        background-color: #012340;
        border: black 1px solid;
        @include size(100%, auto);
        background-size: cover;


        .container__footer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 1200px;
            margin: 0;
            margin-top: 0px;
        }

        .box__footer {
            display: flex;
            flex-direction: column;
            padding: 0px;

            .logo {
                margin: auto;
            }

            .logo img {
                width: 100px;
                height: 100px;
            }

            .terms {
                max-width: 350px;
                margin-top: 20px;
                font-weight: 500;
                color: white;
                font-size: 18px;

                p {
                    text-align: center;
                }
            }

            h2 {
                margin-bottom: 30px;
                color: white;
                font-weight: 700;
            }

            a {
                margin-top: 10px;
                color: white;
                font-weight: 600;
                text-decoration: none;

                &:hover {
                    opacity: 0.8;

                }

                .fab {
                    font-size: 20px;
                }
            }

        }

        .box__copyright {
            max-width: 1200px;
            margin: auto;
            text-align: center;
            padding: 0px 40px;

            p {
                margin-top: 20px;
                color: white;
            }

            hr {
                border: none;
                height: 1px;
                background-color: white;
            }
        }

    }

}