.grid_titulo_oferta {
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: black 2px solid;
    color: white;
    text-align: center;
    width: auto;
    margin: 40px;
    padding: 40px;
}

.grid {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "item1 item2 item3";
    gap: 2rem;
    margin: 0;
    margin-bottom: 20px;

    .card {
    background-color: #E0ECFF;
    border: black solid 1px;
    }

    .card-title{
        text-align: center;
        border: solid black 1px;
        border-radius: 2rem;
        background-color: black;
        color: white;
    }

    .card-body{
        text-align: center;
        align-items: center;
    }
}

